$colorWhite: #fff;
$brandGreen: #5ccdb0;
$brandCoral: #fe6b52;
$brandGrey: #9b9b9b;
$brandDarkGrey: #4a4a4a;
$brandOrange: #ff4200;
$brandDarkBlue: #0c141f;
$containerWidth: 940px;
.textRight {
  text-align: right;
}
.buttonDiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container {
  background-color: white;
  font-family: Helvetica;
  padding: 10px;
  border: 1px solid #ccc;
  line-height: 30px;
}

.con p {
  font-size: 12px;

  font-weight: bold;
  color: #aaa;
  margin-bottom: 0;
}
.information {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  color: black;
  font-size: 18px;
}

.information h2 {
  font-size: 18px;
  margin-top: 10px;
}

.information h3 {
  font-size: 14px;
  font-weight: bold;
  color: #ccc;
  padding: 6px 0;
}

.dashedLine {
  height: 1px;
  border-top: 1px dashed #dcd;
  margin: 20px auto;
}
.money {
  font-size: 12px;
  font-weight: bold;
}
.money i {
  padding: 0 10px;
  border-radius: 30%;
  background-color: #888;
  color: white;
  height: 1px;
  text-align: center;
  width: 30px;
}
.button {
  background-color: $brandOrange;
  // font-family: open sans condensed;
  font-size: 22px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: none;
  color: white;
  border-color: transparent;
  :global {
    a.ant-btn {
      line-height: 48px;
    }
  }
}
