$sectionHeight: 680px;

.heroWrapper {
    position: relative;
    width: 100%;
    height: $sectionHeight;
    background-size: cover;
    overflow: hidden;

    h1 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        line-height: $sectionHeight;
        text-align: center;
        color: #fff;
    }

    @media(max-width: $containerWidth) {
        height: 300px;

        h1 {
            line-height: 1;
            top: 50%;
            font-size: 25px;
        }
    }

    div {
        font-size: 0px;
        left: 0px;
        top: -292.992px;
        position: relative;
    }

    sup {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .15);
    }
}

.markDownFormatter {
    max-width: $containerWidth;
    margin-top: 96px;
    margin-bottom: 96px;
    margin-left: auto !important;
    margin-right: auto !important;

    h3,
    h4,
    h5,
    h6 {
        text-align: center;
        font-weight: 700;
        color: #000;
        margin: 26px 0px;
    }
}

@media(max-width:$containerWidth) {
    .markDownFormatter {
        padding: 0px 15px;
    }
}