$colorWhite: #fff;
$brandGreen: #5ccdb0;
$brandCoral: #fe6b52;
$brandGrey: #9b9b9b;
$brandDarkGrey: #4a4a4a;
$brandOrange: #ff4200;
$brandDarkBlue: #0c141f;
$containerWidth: 940px;

.discoverWrapper {
  margin: 0px auto;
  max-width: $containerWidth;
}
@media (max-width: $containerWidth) {
  .discoverWrapper {
    padding: 0px 30px;
  }
}
.container img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}
.container {
  padding: 50px;
  margin-top: 100px;
  text-align: center;
  border: 1px solid #eee;
  background-color: white;
}
.textRight {
  text-align: right;
}

h2 {
  font-family: Helvetica;
  margin: 20px auto;
  font-size: 35px;
}

.container p {
  font-size: 20px;
}

.container p span {
  color: black;
}
.buttonDiv {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.button {
  background-color: $brandOrange;
  // font-family: open sans condensed;
  font-size: 22px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: none;
  color: white;
  border-color: transparent;
  :global {
    a.ant-btn {
      line-height: 48px;
    }
  }
}
