$colorWhite: #fff;
$brandGreen: #5ccdb0;
$brandCoral: #fe6b52;
$brandGrey: #9b9b9b;
$brandDarkGrey: #4a4a4a;
$brandOrange: #ff4200;
$brandDarkBlue: #0c141f;
.button {
  background-color: $brandOrange;
  // font-family: open sans condensed;
  font-size: 22px;
  font-weight: bold;
  height: 48px;
  width: 200px;
  border-radius: 4px;
  box-shadow: none;
  color: white;
  line-height: 48px;
  border-color: transparent;
  :global {
    a.ant-btn {
      line-height: 48px;
    }
  }
}
@media (max-width: 600px) {
  .button {
    width: 170px;
  }
}
.ant-btn:hover {
  background-color: $brandOrange;
  color: white;
  border-color: $brandOrange;
}
