$colorWhite: #fff;
$brandGreen: #5ccdb0;
$brandCoral: #fe6b52;
$brandGrey: #9b9b9b;
$brandDarkGrey: #4a4a4a;
$brandOrange: #ff4200;
$brandDarkBlue: #0c141f;
$containerWidth: 940px;
.cardMeta {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  :global {
    .ant-card-body {
      padding: 16px;
    }
  }
}
.cardTitle {
  font-size: 24px;
  color: black;
  overflow: hidden;
  white-space: nowrap;

  a:hover {
    color: $brandOrange;
  }
}
.cardRate {
  font-size: 12px;
  margin-bottom: 11px;
}
.cardLocation {
  font-size: 16px;
  color: black;
}
.cardLocationText {
  margin-left: 16px;
}
.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 10px;
  color: black;
}
.cardPlacesText {
  color: $brandOrange;
  font-size: 18px;
}
.cardPriceText {
  font-size: 22px;
  color: black;
  font-weight: "bold";
}
