$colorWhite: #fff;
$brandGreen: #5ccdb0;
$brandCoral: #fe6b52;
$brandGrey: #9b9b9b;
$brandDarkGrey: #4a4a4a;
$brandOrange: #ff4200;
$brandDarkBlue: #0c141f;
$containerWidth: 940px;

.discoverWrapper {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  max-width: $containerWidth;
}
@media (max-width: $containerWidth) {
  .discoverWrapper {
    padding: 0px 30px;
  }
}
.dividerText {
  :global {
    .ant-divider-inner-text {
      font-weight: bold;
      font-size: 36px;
    }
  }
}
.location {
  color: $brandGrey;
  font-size: 16px;
}

.studioLink {
  font-size: 24px;
  color: black;

  a:hover {
    color: $brandOrange;
  }
}
.locationText {
  margin-left: 16px;
}
.cards {
  margin-top: 32px;
}
.cardMeta {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  :global {
    .ant-card-body {
      padding: 16px;
    }
  }
}
.rate {
  font-size: 12px;
  margin-bottom: 11px;
}
