$colorWhite: #fff;
$brandGreen: #5ccdb0;
$brandCoral: #fe6b52;
$brandGrey: #9b9b9b;
$brandDarkGrey: #4a4a4a;
$brandOrange: #ff4200;
$brandDarkBlue: #0c141f;
$containerWidth: 940px;

.orangeBlock {
  background-color: $brandOrange;
  width: 100%;
  height: 70px;
  border-radius: 3px;
}
.dividerText {
  :global {
    .ant-divider-inner-text {
      font-weight: bold;
      font-size: 36px;
    }
  }
}
.discoverWrapper {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  max-width: $containerWidth;
}
@media (max-width: $containerWidth) {
  .discoverWrapper {
    padding: 0px 30px;
  }
}
