$colorWhite: #fff;
$brandGreen: #5ccdb0;
$brandCoral: #fe6b52;
$brandGrey: #9b9b9b;
$brandDarkGrey: #4a4a4a;
$brandOrange: #ff4200;
$brandDarkBlue: #0c141f;
$containerWidth: 940px;
.ListContainer {
  strong {
    font-weight: 6000;
    font-size: 19px;
    color: white;
  }

  div {
    padding: 12px 0px;

    a {
      display: block;
      font-size: 16px;
      color: $brandGrey;
      line-height: 29px;
    }
  }
}
